@model ExercicioEmprestimo.Models.Parcelas

@{
    ViewData["Title"] = "Parcelas";
}

<h1>Editar</h1>

<h4>Parcelas</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmprestimoId" class="control-label">Emprestimo</label>
                <select asp-for="EmprestimoId" class="form-control" asp-items="ViewBag.EmprestimoId" disabled></select>
                <span asp-validation-for="EmprestimoId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ValorParcelas" class="control-label"></label>
                <input asp-for="ValorParcelas" class="form-control" disabled />
                <span asp-validation-for="ValorParcelas" class="text-danger"></span>
            </div>
        </div>
          <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DataVencimento" class="control-label"></label>
                <input asp-for="DataVencimento" class="form-control" disabled />
                <span asp-validation-for="DataVencimento" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paga" /> @Html.DisplayNameFor(model => model.Paga)
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
